<section class="home-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Welcome to Homely Horizons</h1>
                <p>
                    Discover your dream home with us. We specialize in finding the perfect properties for you.
                </p>
                <a href="#" class="btn btn-primary" routerLink="/property" style="background-color:#212529;border: none;">Explore
                    Properties</a>
            </div>
            <div class="col-md-6">
                <!-- Add an image showcasing properties or a beautiful home -->
                <img style="border-radius: 10px;"
                    src="https://img.freepik.com/free-photo/young-businessman-standing-holding-world-map-chart-generated-by-ai_188544-36942.jpg?size=626&ext=jpg&ga=GA1.1.389943748.1681797237&semt=ais"
                    alt="Homely Horizons" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- <div class="container carousel-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="path/to/image1.jpg" alt="Image 1">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="path/to/image2.jpg" alt="Image 2">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="path/to/image3.jpg" alt="Image 3">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="path/to/image4.jpg" alt="Image 4">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="path/to/image5.jpg" alt="Image 5">
        </div>
      </div>
      <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div> -->

<section class="featured-properties">
    <div class="container">
        <h2>Featured Properties</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="property-card">
                    <img style="border-radius: 10px;"
                        src="https://a0.muscache.com/im/pictures/miso/Hosting-52800305/original/3ae97076-6969-49da-8a20-f461b4b86903.jpeg?im_w=720"
                        alt="Property 1" class="img-fluid">
                    <h4>Beautiful Villa by the Sea</h4>
                    <p>Location: Beachside, Paradise Island</p>
                    <p>Price: $600/night</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-card">
                    <img style="border-radius: 10px;"
                        src="https://a0.muscache.com/im/pictures/miso/Hosting-720686339661038773/original/3b4a59ea-99f6-4130-901b-7e45647abeba.jpeg?im_w=720"
                        alt="Property 2" class="img-fluid">
                    <h4>Luxury Hotel with Ocean View</h4>
                    <p>Location: Coastal City, Sunsets Resort</p>
                    <p>Price: $450/night</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-card">
                    <img style="border-radius: 10px;"
                        src="https://a0.muscache.com/im/pictures/miso/Hosting-930895555832800517/original/ca73e5d2-e347-46ad-8632-c69f8ad5ff1e.jpeg?im_w=720"
                        alt="Property 3" class="img-fluid">
                    <h4>Cozy Cottage in the Mountains</h4>
                    <p>Location: Scenic Mountains, Tranquil Valley</p>
                    <p>Price: $350/night</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="property-card">
                    <img style="border-radius: 10px;" src="https://a0.muscache.com/im/pictures/monet/Luxury-54351340/original/42ebf54f-e39e-4156-97ec-076122c97359?im_w=720" alt="Property 4"
                        class="img-fluid">
                    <h4>Stunning Beachfront Villa</h4>
                    <p>Location: Beachside Paradise, Tropical Island</p>
                    <p>Price: $800/night</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-card">
                    <img style="border-radius: 10px;" src="https://a0.muscache.com/im/pictures/miso/Hosting-793029319327529712/original/3ca78dcf-e160-4116-b611-a974cdf738e7.jpeg?im_w=720" alt="Property 5"
                        class="img-fluid">
                    <h4>Luxurious Mountain Lodge</h4>
                    <p>Location: Serene Mountains, Tranquil Forest</p>
                    <p>Price: $650/night</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-card">
                    <img style="border-radius: 10px;" src="https://a0.muscache.com/im/pictures/monet/Luxury-20470768/original/cc213ade-c939-4e2f-b0af-0149bda85030?im_w=720" alt="Property 6"
                        class="img-fluid">
                    <h4>Modern Urban Apartment</h4>
                    <p>Location: City Center, Vibrant City</p>
                    <p>Price: $500/night</p>
                </div>
            </div>
        </div>
    </div>
</section>