/* host.component.css */

.card.login-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
  }
  
  .card-header {
    background-color: #000000;
  }
  
  .card-header h2 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-login {
    background-color: #000000;
    border: none;
  }
  
  .btn-login:hover {
    background-color: #6c757d;
  }
  
  .btn-signup {
    margin-top: 10px;
  }
  
  .alert-danger {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
  }
  