<footer class="footer bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>About Homely Horizons</h4>
          <p>
            Homely Horizons is a leading real estate company that specializes in finding your dream home.
            We are committed to providing exceptional service and helping you find the perfect place to call home.
          </p>
        </div>
        <div class="col-md-3">
          <h4>Quick Links</h4>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Properties</a></li>
            <li><a href="#">Booking</a></li>
            <li><a href="#">Host</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Contact Us</h4>
          <p>Email: info@homelyhorizons.com</p>
          <p>Phone: (123) 456-7890</p>
          <p>Address: 123 Main Street, City, Country</p>
        </div>
      </div>
    </div>
  </footer>
  